#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.centerHeader {
  text-align: center;
  /* color: green; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 2em;
  margin-top: 2em;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 110%;
}

.form textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 110%;
}

.flexCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin: 1em;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flexRow a {
  text-align: center;
  flex: 1;
}
