#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* background-color: grey; */
  /* text-align: center; */
}

.grey{
  background-color: #6e6e6e;
  color: #fff;
}

.prof {
  border-radius: 50%;
}

.hoverGlow:hover {
  filter: drop-shadow(0 0 1em #ffdd44aa);

}

/* .hoverGlow {
  will-change: filter;
  transition: filter;
} */

.maxSize {
  width: 10%;
  height: 10%;
  /* object-fit: cover; */
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.centerHeader {
  text-align: center;
  /* color: green; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.footer {
  background-color: #282c34;
  color: white;
  padding: 2em;
  margin-top: 2em;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 110%;
}

.form textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 110%;
}

.flexCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin: 1em;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flexRow a {
  text-align: center;
  flex: 1;
}

.backColor {
  background-color: #282c34;
  color: white;
}

.projectCard {

  width: 30%;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out;
}

.projectCardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.anchors a{
  text-decoration: underline;
  color: #fff;
}

.anchors a:hover{
  color: rgb(35, 25, 25);

  filter: drop-shadow(0 0 2em #ffffff);

}

.underline{
  text-decoration: underline;
}
